.vertical-center{
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
}

.horizontal-center{
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
}

.circle{
    position: absolute;
    top: 0px;
    width: 52.7vh;
    height: 52.7vh;
    border-radius: 52.7vh;
    background-color: white;
    text-align: center;
    color: #77b244;
}

.gray{
    line-height: 47.7vh;
    font-size: 13.7vh;
    border: 10px solid lightgrey;
}

.green{
    line-height: 47.7vh;
    font-size: 32.7vh;
    border: 10px solid #77b244;
}

.progress-container{
    position: absolute;
    top: -.55vh;
    left: -.55vh;
    width: 53.75vh;
    height: 53.75vh;
}

.btn-1{
    position: absolute;
    background-color: #4477b2;
    color: white;
    top: 60vh;
    width: 20vh;
    height: 7vh;
    font-size: 2vh;
    line-height: 7vh;
    left: 3.85vh;
}

.btn-2{
    position: absolute;
    background-color: #b24844;
    color: white;
    top: 60vh;
    width: 20vh;
    height: 7vh;
    font-size: 2vh;
    line-height: 7vh;
    left: 28.85vh;
}

.align-how-i-want{
    position: relative;
    top: 6.407vh;
    height: 60vh;
    margin: auto;
    width: 52.7vh;
}
