html,body{
	height: 100%;
	width: 100%;
}

.bg{
	position:fixed;
	background-image: url("../../../assets/images/background.jpg");
	height: 100%; 
	width:100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#logoContainer{
	position: relative;
	left: 0px;
	top: 0px;
}

#logo_image{
	width:100px;
	height:140px;
}

#group_name{
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 50px;
}

#buttonContainer{
	margin: auto;
	margin-top: 5%;
	width : 300px;

}

#scanButton{
	align: center;
	width: 300px;
	height: 300px;	
	font-size: 80px;
	background-color: rgb(136, 188,85);
	color: white;
	
}

#footerContainer{
	position: absolute;
	left: 0px;
	right: 0px;
	bottom:0px;
}

#footer{
	text-align: center;
	margin-bottom: 0px;
	font-weight:900;
}
