.shift-right{
    flex: 1 1 auto;
}

md-sidenav-container md-sidenav {
  max-width: 15vw;
  display: flex;
  overflow-y: scroll;
  overflow-x: hidden;
}

.side-container{
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.logo-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-top: 0px !important;
  color: #4477b2;
  font-size: 30px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: transparent;
  text-align: center;
  color: #eaeaea;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
