
<md-toolbar style="background-color: #4477b2; height: 8vh;">
    <a href="/landing" style=" text-decoration: none;"><h3 class="logo-text" style="color: white;">InSecurity 
        <img src="/assets/images/insec_logo.png" height="35px" width="27px" style="position: relative; top: -3px;">
    </h3></a>
    <span class="shift-right"></span>
    <button md-raised-button type="button" (click)="sidenav.toggle()">Scan History</button>
</md-toolbar>
<md-sidenav-container class="side-container">
<md-sidenav #sidenav mode="side" opened="false" align="end">
 <div>
  <md-nav-list>
  <a md-list-item href="/result/{{item.id}}" *ngFor="let item of history">{{ item.started }}</a>
</md-nav-list>
</div>
</md-sidenav>
</md-sidenav-container>
<router-outlet style="height: 84vh;"></router-outlet>
<md-toolbar style="background-color: lightgrey; position: fixed; bottom: 0px; height: 8vh;">
    <a href="/landing" style=" text-decoration: none;"><h4 class="logo-text" style="color: darkgrey;">Contact Us</h4></a>
</md-toolbar>