
<md-toolbar style="background-color: #4477b2">
    <a href="/landing"><h2 class="logo-text" style="color: white;">InSecurity</h2></a>
        <!-- <img src="/assets/images/insec_logo.png" height="35px" width="27px" style="position: relative; top: -3px;"> -->
    <span class="shift-right"></span>
    <button type="button" class="btn btn-raised pull-right scan-history-btn" (click)="sidenav.toggle()">Scan History</button>
</md-toolbar>
<md-sidenav-container class="side-container">
<md-sidenav #sidenav mode="side" opened="false" align="end">
 <div>
  <md-nav-list>
  <a md-list-item href="/result/{{item.id}}" *ngFor="let item of history">{{ item.started }}</a>
</md-nav-list>
</div>    
</md-sidenav>
</md-sidenav-container>
<md-toolbar style="background-color: black; position: fixed; bottom: 0px;">
    <a href="/landing"><h4 class="logo-text" style="color: darkgrey;">Contact Us</h4></a>
</md-toolbar>
<router-outlet></router-outlet>
<particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>