.shift-right{
    flex: 1 1 auto;
}

md-sidenav-container md-sidenav {
  max-width: 15vw;
  display: flex;
  overflow-y: scroll;
  overflow-x: hidden;
}

.side-container{
  position: fixed;
  width: 100vw;
  height: 84vh;
}