html,body{
	height: 100%;
	width: 100%;
}

.bg{
	position:fixed;
	background-image: url("../../../assets/images/background.jpg");
	height: 100%; 
	width:100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.canvas{
    background-color : white;
    width: 30%;
    margin : auto;
    margin-top: 5%;
    padding : 30px 50px 30px 50px;
}

li{
    text-align : left;
    font-size : 25px;
    font-weight: 800;
}

#score,#grade{
    font-size: 35px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

#ulist{
    
}
