@import '~@angular/material/theming';
@include mat-core();

  $palette: (
  50: #eff6e9,
  100: #d6e8c7,
  200: #bbd9a2,
  300: #a0c97c,
  400: #8bbe60,
  500: #77b244,
  600: #6fab3e,
  700: #64a235,
  800: #5a992d,
  900: #478a1f,
  A100: #d9ffc5,
  A200: #b8ff92,
  A400: #97ff5f,
  A700: #86ff46,
  contrastDefaultColor: light,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: white,
  ));

  $primary: mat-palette($palette);
  $accent: mat-palette($mat-orange,200);

  $theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);